body{
    text-align: center;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #image{
    display: block;
    height: auto;
    max-width: 100%;
    margin: auto;
    padding: 1px 1px 1px 1px;
  }
  p{
    font-size: 22px;
    font-family: Verdana;
  }
  li{
    text-align: left;
    padding-bottom: 10px;
  }